
<div class="buy">
    <img class="buy__image" src="./image/buy.webp" alt="Image" loading="lazy">

    <div class="buy__info">
        <h2 class="buy__info_title">Купить игру Cyberpunk 2077</h2>

        <h3 class="buy__packages_title highlighting">В комплект входит:</h3>
        <div class="buy__packages">
            <div class="buy__package">
                <img class="buy__package_image" src="./image/cd.svg" alt="Icon" loading="lazy">
                <p class="buy__package_text">Футляр с игровыми дисками</p>
            </div>
            <div class="buy__package">
                <img class="buy__package__image" src="./image/screen.svg" alt="Icon" loading="lazy">
                <p class="buy__package_text">Футляр с кодом для загрузки игры и дисками (PC)</p>
            </div>
            <div class="buy__package">
                <img class="buy__package__image" src="./image/images.svg" alt="Icon" loading="lazy">
                <p class="buy__package_text">Справочник с информацией об игровом мире</p>
            </div>
        </div>

        <h3 class="buy__platforms_title highlighting">Выберите платформу:</h3>
        <div class="buy__platforms">
            <img class="buy__platform_pc" src="./image/pc.svg" alt="PC" loading="lazy">
            <img class="buy__platform_xbox" src="./image/xbox.svg" alt="XBox One" loading="lazy">
        </div>
        <div class="buy__platforms">
            <img class="buy__platform_stadia" src="./image/stadia.svg" alt="Stadia" loading="lazy">
            <img class="buy__platform_playstation" src="./image/playstation.svg" alt="Playstation 4" loading="lazy">
        </div>
    </div>
</div>