
<div class="monitor">
    <div class="shadow shadow__top"></div>
    <div class="container">
        <div class="monitor__block">
            <div class="monitor__images">
                <img class="monitor__image" src="./image/monitor.webp" alt="HP Монитор">

                <div class="monitor__collaboration">
                    <img class="monitor__collaboration_hp" src="./image/hp.svg" alt="HP" loading="lazy">
                    <img class="monitor__collaboration_cross" src="./image/cross.svg" alt="×" loading="lazy">
                    <img class="monitor__collaboration_cyberpunk" src="./image/logo.svg" alt="Cyberpunk" loading="lazy">
                </div>
            </div>

            <div class="monitor__info">
                <h2 class="monitor__info_title">Полное погружение вместе с HP</h2>
                <p class="monitor__info_description">Погрузись в современные экшен-игры с реалистичным изображением с помощью монитора с диагональю 23,8 дюйма, созданном для отображения максимально насыщенных цветов. Успевай реагировать на любые события с временем отклика 1 мс и частотой в 144 Гц!</p>

                <div class="monitor__info_features">
                    <div class="monitor__info_feature">
                        <img class="monitor__info_feature_icon" src="./image/palette.svg" alt="Icon"  loading="lazy">
                        <p class="monitor__info_feature_text">Яркие насыщенные цвета</p>
                    </div>
                    <div class="monitor__info_feature">
                        <img class="monitor__info_feature_icon" src="./image/stars.svg" alt="Icon"  loading="lazy">
                        <p class="monitor__info_feature_text">Кристальная четкость изображения</p>
                    </div>
                    <div class="monitor__info_feature">
                        <img class="monitor__info_feature_icon" src="./image/frames.svg" alt="Icon"  loading="lazy">
                        <p class="monitor__info_feature_text">Быстрые движения и плавный геймплей</p>
                    </div>
                </div>

                <a class="monitor__info_button" href="https://www.cyberpunk.net/" target="_blank">Подробнее</a>
            </div>
        </div>
    </div>
</div>