
<div class="stock">
    <div class="container">
        <div class="stock__block">
            <div class="stock__title">
                <img class="stock__title_icon" src="./image/stock_icon.svg" alt="Stock"  loading="lazy">
                <h2 class="stock__title_text">Играй и выигрывай!</h2>
            </div>

            <div class="stock__description">
                Играй в <span class="highlighting">Cyberpunk 2077</span> и получи возможность выиграть консоль <span class="highlighting">Xbox Series X</span> или <span class="highlighting">Sony PlayStation 5!</span> Заполни форму ниже и приложи скриншот о покупке игры. Итоги розыгрыша будут подведены 1 февраля. Удачи! ;)
            </div>

            <div class="stock__content">
                <form class="stock__form">
                    <input class="stock__form_input" id="name" name="name" placeholder="Как тебя зовут?" type="text" required>
                    <input class="stock__form_input" id="email" name="email" placeholder="Твой е-mail" type="email" required>
                    <button class="stock__form_button" type="submit">Отправить</button>

                    <div class="stock__form_checkbox">
                        <input class="stock__form_checkbox_input" type="checkbox" required>
                        <p class="stock__form_checkbox_label">Согласен на обработку персональных данных</p>
                    </div>
                </form>

                <img class="stock__image_1" src="./image/stock_1.webp" alt="Stock"  loading="lazy">
                <img class="stock__image_2" src="./image/stock_2.webp" alt="Stock"  loading="lazy">
            </div>
        </div>
    </div>
</div>