
<header class="header" id="header">
    <div class="container">
        <div class="header__block">
            <img class="header__logo" src="./image/logo.svg" alt="Logo">

            <nav class="header__socials">
                <a class="header__socials_link" href="https://vk.com/cyberpunkgame" target="_blank">
                    <img class="header__socials_icon" src="./image/vk.svg" alt="VK">
                </a>

                <a class="header__socials_link" href="https://www.youtube.com/@CyberpunkGame" target="_blank">
                    <img class="header__socials_icon" src="./image/youtube.svg" alt="YouTube">
                </a>

                <a class="header__socials_link" href="https://discord.com/invite/cyberpunkgame" target="_blank">
                    <img class="header__socials_icon" src="./image/discord.svg" alt="Discord">
                </a>

                <a class="header__socials_link" href="https://www.twitch.tv/cdprojektred" target="_blank">
                    <img class="header__socials_icon" src="./image/twitch.svg" alt="Twitch">
                </a>
            </nav>
        </div>
    </div>
</header>