
@font-face {
    font-family: "Archangelsk";
    src: url("./fonts/archangelsk.woff2") format("woff2"),
        url("./fonts/archangelsk.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto_light.woff2") format("woff2"),
    url("./fonts/roboto_light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto_regular.woff2") format("woff2"),
    url("./fonts/roboto_regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto_bold.woff2") format("woff2"),
    url("./fonts/roboto_bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}