
<div class="screenshots">
    <div class="container">
        <div class="screenshots__block">
            <h2 class="screenshots__block_title">Найт-Сити изменит тебя навсегда!</h2>
            <p class="screenshots__block_description"><span class="highlighting">Cyberpunk 2077</span>  — приключенческая ролевая игра, действие которой происходит в мегаполисе Найт-Сити, где власть, роскошь и модификации тела ценятся выше всего. Ты играешь за V (Ви), наёмника в поисках устройства, позволяющего обрести бессмертие. Ты сможешь менять кибер-импланты, навыки и стиль игры своего персонажа, исследуя открытый мир, где твои поступки влияют на ход сюжета и всё, что тебя окружает.</p>

            <div class="screenshots__block_images">
                <div class="screenshots__block_left_images">
                    <img class="screenshots__block_left_image cross__section" src="./image/screenshot_2.webp" alt="Screenshot"  loading="lazy">
                    <img class="screenshots__block_left_image cross__section" src="./image/screenshot_3.webp" alt="Screenshot"  loading="lazy">
                </div>

                <img class="screenshots__block_image cross__section" src="./image/screenshot_1.webp" alt="Screenshot"  loading="lazy">
            </div>
        </div>
    </div>

    <div class="shadow shadow__bottom"></div>
</div>