
<footer class="footer">
    <div class="container">
        <div class="footer__block">
            <div class="footer__logos">
                <a class="footer__logo_link" href="https://www.cyberpunk.net" target="_blank">
                    <img class="footer__logo_cyberpunk" src="./image/logo.svg" alt="Cyberpunk" loading="lazy">
                </a>
                <a class="footer__logo_link" href="https://www.cyberpunk.net" target="_blank">
                    <img class="footer__logo_cd_project" src="./image/cd_projekt.svg" alt="CD PROJEKT" loading="lazy">
                </a>
            </div>

            <a class="footer__link" href="https://cdn-l.cdprojektred.com/CD-PROJEKT-RED_Privacy_Policy_2024-11-22_RU.pdf" target="_blank">Политика конфиденциальности</a>
        </div>
    </div>
    <div class="footer__copyright">
        <p class="footer__copyright_text">CD PROJEKT®, Cyberpunk®, Cyberpunk 2077®</p>
    </div>
</footer>